<!doctype html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    @entryPointScripts('app')
    <script src="https://unpkg.com/mobx/dist/mobx.umd.production.min.js"></script>
    @entryPointStyles('app')
  </head>

  <body>
    <main class="h-screen w-screen flex flex-col justify-center items-center" data-contoller="edit">
      <h1 contenteditable="true" id="message">THIS IS A TITLE THAT IS EDITABLE</h1>
      <button id="button">CLICK ME</button>
      <div id="card" class="draggable card bg-blue-500 p-4 text-white">This is draggable card</div>
    </main>
  </body>
</html>
