@layout('layouts/app')
@set('title', 'Account Page')

@section('main')
<div class="container prose text-center mb-4 lg:mb-10">
    <h1>Your Documents</h1>
</div>
<div class="container grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-8">
    Hello, AdonisJS!
</div>
@end