<!DOCTYPE html>
<html lang="en" data-theme="winter">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    @entryPointStyles('app')
    @entryPointScripts('app')
</head>

<body>
    <main class="h-screen w-screen grid grid-rows-app">
        @!navbar({
        user
        })
        <div class="p-4">
            @!section('main')
        </div>
        @!footer()

    </main>
</body>

</html>